{% extends 'base.html.twig' %}

{% block title %}Edit FCategorie{% endblock %}

{% block body %}
    <h1>Edit FCategorie</h1>

    {{ include('f_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('f_categorie_index') }}">back to list</a>

    {{ include('f_categorie/_delete_form.html.twig') }}
{% endblock %}