{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
                <h5 class="card-title col-7 mt-5"> Bienvenue sur le forum</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Catégories</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for f_categorie in f_categories %}
                <tr>
                    <td class="col-10">{{ f_categorie.name }}</td>
                    <td>
                        <a href="{{ path('f_topics_index', {'id': f_categorie.id}) }}" class="btn btn-sm bg-dark">Voir
                            les topics</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}