@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Anton|Arimo|PT+Sans|Roboto|Signika|Source+Sans+Pro');
@import "variables";
@import "template_annouce";
@import "home";
@import "button";
@import "parallax";
@import "caroussel";
@import "upload";

body{
  background-image: url("https://image.noelshack.com/fichiers/2018/28/5/1531492749-image-accueil5.jpg");
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: 'Roboto', sans-serif;
}
.container{
  justify-content: center;
  background-color: #ffffff;
  padding:5em;
  min-height: 900px;
}
.container-fluid{
  padding:0;
}

a{
  color:white;
  &:hover {
    color: orange;
    text-decoration: none;
  }
}

.navbar-dark{
  -webkit-box-shadow: 0px 2px 2px #000;
  -moz-box-shadow: 0px 2px 2px #000;
  box-shadow: 0px 2px 2px #000;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  &:hover {
    color: orange;
  }
}

.card_button {
  color: #000;
  font-weight: bold;
}

.page-footer{
  background: #000;
  -webkit-box-shadow: 0px -6px 2px #000;
  -moz-box-shadow: 0px -6px 2px #000;
  box-shadow: 0px -6px 2px #000;
}

p{
  color: #000;
}

.card{
  background: #f0f0f0;
}

.greyscale{
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);

}

.text-archive{
  top:110px;
  width: 100%;

  p{
    color: white;
    font-size: 3.2em;
    opacity: 0.7;
    font-family: 'Anton', sans-serif;
  }
}
.icon-profile{
  margin-top: 1px;
}

.card-footer{
  border: 1px solid #EEE;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

.custom-select{
  height: 48px;
}

.form-control {
  background-color: rgba(204,204 ,204, 0.42);
}

#region_filter{
  background-color: black;
}