@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Anton|Arimo|PT+Sans|Roboto|Signika|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Coiny|Jua|Londrina+Solid|Mitr|Patrick+Hand+SC');
@import "variables";
@import "template_annouce";
@import "home";
@import "button";
@import "parallax";
@import "caroussel";
@import "upload";

body {
  background-image: url("https://image.noelshack.com/fichiers/2018/28/5/1531492749-image-accueil5.jpg");
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: 'Roboto', sans-serif;
}

.container {
  justify-content: center;
  background-color: #ffffff;
  padding: 5em;
  min-height: 900px;
}

.container-fluid {
  padding: 0;
}

a {
  color: white;
  &:hover {
    color: orange;
    text-decoration: none;
  }
}

.navbar-dark {
  -webkit-box-shadow: 0px 2px 2px #000;
  -moz-box-shadow: 0px 2px 2px #000;
  box-shadow: 0px 2px 2px #000;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  &:hover {
    color: orange;
  }
}

.card_button {
  color: #000;
  font-weight: bold;
}

.page-footer {
  background: #000;
  -webkit-box-shadow: 0px -6px 2px #000;
  -moz-box-shadow: 0px -6px 2px #000;
  box-shadow: 0px -6px 2px #000;
}

p {
  color: #000;
}

.card {
  background: #f0f0f0;
}

.greyscale {
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);

}

.text-archive {
  top: 110px;
  width: 100%;

  p {
    color: white;
    font-size: 3.2em;
    opacity: 0.7;
    font-family: 'Anton', sans-serif;
  }
}

.icon-profile {
  margin-top: 1px;
}

.card-footer {
  border: 1px solid #EEE;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

.custom-select {
  height: 48px;
}

.form-control {
  background-color: rgba(204, 204, 204, 0.42);
}

#region_filter {
  background-color: #1a1a1a;
}

.logo {
  width: 5%;
  margin-left: -33px;
}

.nav-item2 {
  margin-left: -25px;
}

[title~="Code"] {
  background-image: url("/images/logo_code.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="Bold"] {
  background-image: url("/images/logo_bold.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="Italic"] {
  background-image: url("/images/logo_italic.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
[title~="Heading"] {
  background-image: url("/images/logo_heading.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="URL/Link"] {
  background-image: url("/images/logo_link.png");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
[title~="Image"] {
  background-image: url("/images/logo_image.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="Unordered"] {
  background-image: url("/images/logo_list.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="Ordered"] {
  background-image: url("/images/logo_thlist.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}
[title~="Quote"] {
  background-image: url("/images/logo_quote.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;

}

#wf_new_post #post_content{
  border: 1px solid #eaeaea;

}
.btn-toolbar{
float:left;
}

.jumbotron{
  min-width: 90%;
}

.jumbotron img{
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}
.jumbotron a{
  color: #2c3e50;
}