
.parallax {
  position: relative;
  z-index: 1;
  height: 650px;
  -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}

#trans1 {
  background: url('https://image.noelshack.com/fichiers/2018/28/5/1531492749-image-accueil5.jpg') no-repeat fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#trans2 {
  background: url('https://image.noelshack.com/fichiers/2018/28/5/1531495295-image-accueil.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.txt {
  font-size: 45px;
  color: #000;
  width: auto;
  background: #F9B802;
  background: rgba(249, 184, 2, 0.60);
  padding: 5px 10px;
}

.txt.right {
  margin: 150px 100px 0 0;
  float: right;
  text-align: right;
}

.txt.left {
  float: left;
  text-align: left;
  margin: 150px 0 0 100px;
}

.txt.sub {
  background: #000;
  background: rgba(0, 0, 0, 0.60);
  font-size: 25px;
  color: #ccc;
  margin: 0 100px 0 100px;
}

.center {
  position: relative;
  top: 1%;
  transform: translateY(-50%);
  float: left;
  text-align: left;
  margin: 150px 0 0 100px;
}

.content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  z-index: 2;
  background: #1a252f;
  color: white;
  text-align: center;
  text-justify: auto;
  width: 100%;

  margin: 0;
  padding: 10px 20px;

}

.content.right {
  text-align: right;
}

.content h2 {
  padding: 0 25px;
}

.content p {
  width: 50%;
  margin: auto;
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar {
  margin-bottom: 0px;
}

.img {
  padding: 10px 20px;
  float: right;
}

@media screen and (max-width: 500px) {
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}


