
.img-announce {
  height: 20em;
  object-fit: cover;
}



/*---------- CARDS LAYOUT ----------*/

$card-background:     #fff;
$card-border-width:   0;
$card-border-color:   #eee;
$card-radius:         0;


.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  .no-flexbox & { float: left; }

  margin-top: 0;
  padding: 0 1em 2em;

  // > 640px, 2 items/row
  @media screen and (min-width: 42em) and ( max-width: 60em ) {
    width: 50%;
    .no-flexbox &:nth-child(2n+1) { clear: both; }
  }

  // > 960px, 3 items/row
  @media screen and (min-width: 60em) {
    width: 33.3333%;
    .no-flexbox &:nth-child(3n+1) { clear: both; }
  }

}

.card {
  display: flex;
  flex-direction: column;
  transition: transform .5s; /* Animation */
  background-color: $card-background;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-radius;
  &:hover {
    transition: transform .5s; /* Animation */
    transform: scale(1.025);
    box-shadow: 2px 2px 15px rgba(155, 155, 155, 0.4);
  }
}

.card_image {
  img {
    width: 100%;
    border-top-left-radius: ( $card-radius - $card-border-width );
    border-top-right-radius: ( $card-radius - $card-border-width );

  }
}

.card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  margin-top: 0;
  padding: 1.5em;

  p {
    flex: 1 0 auto;
  }

}