<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid mt-5">
    {% block body %}
        {% include 'layout.html.twig' %}
        {% block content %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label != 'comment' %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show text-center">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    {% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
