<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    {% endblock %}
</head>
<body>
<div class="container-fluid mt-5">
    {% block body %}
    {% if app.user.username is defined %}
        {% include 'layout.html.twig' %}
        {% else %}
            {% include 'layout_base.html.twig' %}
        {% endif %}
        {% block content %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label != 'comment' %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show text-center">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</div>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
