{% block footer %}
    <footer class="page-footer fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center">© 2018 Copyright:
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}