{% block footer %}
    <footer class="page-footer fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center p-1">© 2018 Copyright
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}