{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">Le coin de l'ulm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="nav navbar-nav w-100 deconnect justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('default') }}">Home</a>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true"
                       aria-expanded="true">Voir les annonces</a>
                    <div class="dropdown-menu" x-placement="bottom-start"
                         style="position: absolute; transform: translate3d(0px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="{{ path('announce_pendulaires') }}">Pendulaires</a>
                        <a class="dropdown-item" href="#">Paramoteurs</a>
                        <a class="dropdown-item" href="#">Hélicopteres</a>
                        <a class="dropdown-item" href="#">Aérostats</a>
                        <a class="dropdown-item" href="#">Autogires</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav w-100 deconnect justify-content-end">
                <li class="nav-link  float-md-right">
                <a href="{{ path('security_login') }}">
                    Connexion
                </a>
                </li>

                <li class="nav-link  float-md-right">
                    <a href="{{ path('user_registration') }}">
                        Créer un compte
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}