{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">
    <h5 class="card-title col-7 mt-5"> Editer votre message</h5>

    {{ include('f_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('f_message_index') }}">back to list</a>

    {{ include('f_message/_delete_form.html.twig') }}
{% endblock %}