{% extends 'base.html.twig' %}

{% block content %}
    <div class="container pt-5">

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
        {% for f_message in f_messages %}
            <tr>
                <td>{{ f_message.date ? f_message.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ f_message.message }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('f_topics_index') }}" class="btn btn-sm bg-dark">Retour</a>
    <a href="{{ path('f_message_new') }}" class="btn btn-sm bg-dark">Ajouter un nouveau message</a>
{% endblock %}